body{
  background-color: #f9f6f0;
 text-align: center;
}

#fluid{
  background-color: #080484;
}

.container-fluid{
  display: flex;
  flex-wrap: wrap;
}
h5{
  color: #c0c0d7
}

h5{
  text-decoration: none;
}

#geico{
  opacity: 0.5;
}

#footer{
  background-color: #c0c0d7;
}

.geico{
  width: 50px;
  margin-top: 2rem;
  text-align: center;
}




